body {
	background-color:lightblue;
}
h1{
	font-size:30px;
	font-weight:normal;
	letter-spacing: 3px;
}
h2{
	font-size: 26px;
font-weight: normal;
letter-spacing: 2px;
}
h3{
	font-size:22px;
	font-weight: normal;
	letter-spacing: 1px;
}
